/* COMMON */

body {
    background-color: rgb(183, 183, 183);
}

/* COMMON END */


/* CENTER */

.alert-center {
    height: 50vh !important;
    text-align: center;
}

/* CENTER END */

/* NAV */

a.nav-link {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* NAV END */

/* SIGN IN */
.form-main {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin>form {
    max-width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-signin>form>img {
    max-width: 30rem;
    margin: 20px;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin .form-floating {
    width: 100%;
    margin: 10px;
}

.form-signin input[type="text"] {
    width: 100%;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* SIGN IN END */

/* DASHBOARD */

.property-card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1024px) {
    .property-card-group {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 720px) {
    .property-card-group {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* DASHBOARD END */

/* USER */

.users-icons-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-users-icon-div {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.new-users-icon-div div {
    justify-content: flex-start !important;
}

.plus-icon {
    position: relative;
    top: -1.8rem;
    left: 0.2rem;
}

/* USER END */
/* PROPERTY */

div.new-property {
    border: 3px solid black;
    border-style: dashed;
}

div.new-property>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.new-property>a>svg {
    width: 15vmax;
    height: auto;
}

div.new-property>a {
    filter: invert(0%) sepia(0%) saturate(2%) hue-rotate(92deg) brightness(90%) contrast(101%);
    text-decoration: none;
}

/* PROPERTY END */
/* PROPERTY_EDIT END */
.property_edit_main {
    width: 100%;
}

.property_edit_main>div {
    max-width: none;
}

.property_edit_main>div>form {
    display: grid;
    max-width: none;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

/* PROPERTY_EDIT END */
/* PROPERTY_VIEW */

.card-img-top {
    height: 30vh;
    overflow: hidden;
    object-fit: cover;
}

.tab-pane {
    margin: 1rem;
}

/* PROPERTY_VIEW END */