{% extends "layout.html" %}
{% block main %}
<div class="form-main">
    <div class="form-signin">
        <form action="" method="post">
            <h1 class="h3 mb-3 text-center">Create A Property</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="PropertyName"
                    placeholder="PropertyName">
                <label for="floatingInput">Property Name</label>
            </div>
            <div class="mb-3">
                <input type="file" class="form-control" id="file" name="file" placeholder="File Name">
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Create A Property</button>
        </form>
    </div>
</div>
{% endblock main %}