{% extends "layout.html" %}
{% block main %}

<div class="card m-3">
    <img src="{{ property.url }}" class="card-img-top" alt="...">
    <div class="card-body bg-secondary" style="--bs-bg-opacity: .2;">
        <h1 class="card-title">{{ property.property_name }}</h1>
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="overview-tab" data-bs-toggle="tab"
                    data-bs-target="#overview-tab-pane" type="button" role="tab" aria-controls="overview-tab-pane"
                    aria-selected="true">Overview</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane"
                    type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Finance</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="vendors-tab" data-bs-toggle="tab" data-bs-target="#vendors-tab-pane"
                    type="button" role="tab" aria-controls="vendors-tab-pane" aria-selected="false">Vendors</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tenants-tab" data-bs-toggle="tab" data-bs-target="#tenants-tab-pane"
                    type="button" role="tab" aria-controls="tenants-tab-pane" aria-selected="false">Tenants</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel" aria-labelledby="overview-tab"
                tabindex="0">
                <div id="overview-contents" class="d-flex gap-2 flex-wrap m-3">
                    <p class="alert alert-primary" role="alert">Category: {{ property.property_name }}</p>
                    <p class="alert alert-primary" role="alert">Location: {{ property.location }}</p>
                    <p class="alert alert-primary" role="alert">No of units: {{ property.no_of_units }}</p>
                    <p class="alert alert-primary" role="alert">List Of Units: {{ property.list_of_units }}</p>
                    <p class="alert alert-primary" role="alert">Address: {{ property.address }}</p>
                </div>
            </div>
            <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="1">
                <h3>Finance</h3>
            </div>
            <div class="tab-pane fade" id="vendors-tab-pane" role="tabpanel" aria-labelledby="vendors-tab" tabindex="2">
                <h3>Vendors</h3>
                <!-- Vendors -->
                <div class="property-card-group">
                    {% for v in vendor_list %}
                        <div class="card bg-dark m-2">
                        <div class="card-body">
                            <h5 class="card-title text-white">Vendor Name: {{v.vendor_name}}</h5>
                            <p class="card-text text-white">Email: {{v.email}}</p>
                            <p class="card-text text-white">Website: {{v.website}}</p>
                            <p class="card-text text-white">Contack Person: {{v.name_contact_person}}</p>
                            <p class="card-text text-white">Phone Number: {{v.phone_number_of_contact}}</p>
                            <button onclick=`delete_vendor({{property_name}}, {{v.vendor_name}}})''><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg></button>
                        </div>
                    {% endfor %}
                </div>
                <div class="card new-property m-2">
                    <a href="/editvendor/{{ property.property_name }}/new">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                        <span class="mt-1 mb-5">
                            Add New Vendor
                        </span>
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="tenants-tab-pane" role="tabpanel" aria-labelledby="tenants-tab" tabindex="3">
                <h3>Tenants</h3>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock main %}