{% extends "layout.html" %} {% block main %}

<div class="card m-3">
  <img
    src="data:image/jpeg;base64, {{ property.image }}"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body bg-secondary" style="--bs-bg-opacity: 0.2">
    <h1 class="card-title">{{ property.property_name }}</h1>
    <ul class="nav nav-pills" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="overview-tab"
          data-bs-toggle="tab"
          data-bs-target="#overview-tab-pane"
          type="button"
          role="tab"
          aria-controls="overview-tab-pane"
          aria-selected="true"
        >
          Overview
        </button>
      </li>
                <button class="nav-link" id="finance-tab" data-bs-toggle="tab" data-bs-target="#finance-tab-pane"
                    type="button" role="tab" aria-controls="finance-tab-pane" aria-selected="false">Finance</button>
            </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="vendors-tab"
          data-bs-toggle="tab"
          data-bs-target="#vendors-tab-pane"
          type="button"
          role="tab"
          aria-controls="vendors-tab-pane"
          aria-selected="false"
        >
          Vendors
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tenants-tab"
          data-bs-toggle="tab"
          data-bs-target="#tenants-tab-pane"
          type="button"
          role="tab"
          aria-controls="tenants-tab-pane"
          aria-selected="false"
        >
          Tenants
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="overview-tab-pane"
        role="tabpanel"
        aria-labelledby="overview-tab"
        tabindex="0"
      >
        <div id="overview-contents" class="d-flex gap-2 flex-wrap m-3">
          {% if property.discription %}
          <div class="card-body d-block w-100">
            <h5 class="card-title">Discription</h5>
            <p class="card-text">{{ property.discription }}</p>
          </div>
          {% endif %}
          <p class="alert alert-primary" role="alert">
            Category: {{ property.property_name }}
          </p>
          <p class="alert alert-primary" role="alert">
            Location: {{ property.location }}
          </p>
          <p class="alert alert-primary" role="alert">
            No of units: {{ property.no_of_units }}
          </p>
          <p class="alert alert-primary" role="alert">
            List Of Units: {{ property.list_of_units }}
          </p>
          <p class="alert alert-primary" role="alert">
            Address: {{ property.address }}
          </p>
        </div>
      </div>
      <div class="tab-pane fade" id="finance-tab-pane" role="tabpanel" aria-labelledby="finance-tab" tabindex="1">
        <div class="d-flex flex-wrap gap-2 overflow-auto">
          <div id="income_chart" class="img-fluid"></div>
          <div id="expense_chart" class="img-fluid"></div>
        </div>
        <br>
        <p class="d-none" id="finance-data">{{ property.finance }}</p>
        <div class="table-responsive">
          <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Expense/Income</th>
                  <th scope="col">Type</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody id="finance-table-body">
                <tr>
                  <td >
  
                      <input type="text" placeholder="Name" class="form-control" name="name" id="name">
                  </td>
                  <td >
                      <select class="form-select" aria-label="Default select example" class="w-100" name="direction" id="direction">
                          <option selected value="income">Income</option>
                          <option value="expense">Expenses</option>
                        </select>
                      </td>
                      <td>
                      <select class="form-select" aria-label="Default select example" name="type" id="type">
                          <option selected value="Rental Income">Rental Income</option>
                          <option value="Sales Revenue">Sales Revenue</option>
                          <option value="Interest Income">Interest Income</option>
                          <option value="Licensing and Royalty Income">Licensing and Royalty Income</option>
                          <option value="Other Income">Other Income</option>
                        </select>
  
                  </td>
                  <td class="d-flex gap-2">
                      <input type="number" class="form-control" placeholder="Amount" name="amount" id="amount">
                      <button class="btn btn-primary" onclick="addItem()">Add</button>
                  </td>
                </tr>
                
              </tbody>
            </table>
        </div>
        </div>
      <div
        class="tab-pane fade"
        id="vendors-tab-pane"
        role="tabpanel"
        aria-labelledby="vendors-tab"
        tabindex="2"
      >
        <h3>Vendors</h3>
        <!-- Vendors -->
        <div class="property-card-group">
          {% for v in vendor_list %}
          <div class="card bg-dark m-2">
            <div class="card-body text-white">
              Vendor Name:
              <h5 class="card-title text-white">{{v.vendor_name}}</h5>
              Email:
              <p class="card-text text-white">{{v.email}}</p>
              Website:
              <p class="card-text text-white">{{v.website}}</p>
              Contack Person:
              <p class="card-text text-white">{{v.name_contact_person}}</p>
              Phone Number:
              <p class="card-text text-white">{{v.phone_number_of_contact}}</p>
              <div class="d-flex align-items-center flex-wrap">
                <button
                  type="button"
                  class="m-3 btn btn-primary"
                  onclick='delete_vendor("{{property.property_name}}","{{v.vendor_name}}")'
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-trash"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                    />
                  </svg>
                </button>
                <button
                  type="button"
                  class="m-3 btn btn-primary"
                  onclick='edit_vendor("{{property.property_name}}","{{v.vendor_name}}")'
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-pencil-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                    />
                  </svg>
                </button>
                <div class="d-flex align-items-center">
                  <input
                    type="number"
                    name="invoiceAmount"
                    id="invoiceAmount"
                    class="form-control w-75"
                    placeholder="Invoice Amount"
                  />
                  <button
                    type="button"
                    class="m-3 btn btn-primary"
                    onclick='request_invoice(event, "{{property.property_name}}","{{v.vendor_name}}")'
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-send"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="card new-property m-2">
            <a href="/editvendor/{{ property.property_name }}/new">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
              </svg>
              <span class="mt-1 mb-5"> Add New Vendor </span>
            </a>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="tenants-tab-pane"
          role="tabpanel"
          aria-labelledby="tenants-tab"
          tabindex="3"
        >
          <!-- Tenant -->
          <h3>Tenants</h3>
          <div class="property-card-group">
            {% for v in tenant_list %}
            <div class="card bg-dark m-2">
              <div class="card-body text-white">
                Tenant Name:
                <h5 class="card-title text-white">{{v.tenant_name}}</h5>
                Email:
                <p class="card-text text-white">{{v.email}}</p>
                Website:
                <p class="card-text text-white">{{v.website}}</p>
                Contack Person:
                <p class="card-text text-white">{{v.name_contact_person}}</p>
                Phone Number:
                <p class="card-text text-white">
                  {{v.phone_number_of_contact}}
                </p>
                <div class="d-flex align-items-center flex-wrap">
                  <button
                    type="button"
                    class="m-3 btn btn-primary"
                    onclick='delete_vendor("{{property.property_name}}","{{v.vendor_name}}")'
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-trash"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                      />
                    </svg>
                  </button>
                  <button
                    type="button"
                    class="m-3 btn btn-primary"
                    onclick='edit_vendor("{{property.property_name}}","{{v.vendor_name}}")'
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                      />
                    </svg>
                  </button>
                  <div class="d-flex align-items-center">
                    <input
                      type="number"
                      name="invoiceAmount"
                      id="invoiceAmount"
                      class="form-control w-75"
                      placeholder="Invoice Amount"
                    />
                    <button
                      type="button"
                      class="m-3 btn btn-primary"
                      onclick='request_invoice("{{property.property_name}}","{{v.vendor_name}}")'
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-send"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="card new-property m-2">
              <a href="/editvendor/{{ property.property_name }}/new">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="bi bi-plus"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
                <span class="mt-1 mb-5"> Add New Tenant </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock main %}
</div>
